body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.w-95 {
    width: 95% !important;
}

.modal-dialog:not(.alert-modal) .modal-content {
    overflow: scroll;
}

.string-list tr td:first-of-type {
    cursor: pointer
}
