<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/lib/bootstrap.min.css" />
  <style>
    body {
      padding-top: 54px;
    }

    @media (min-width: 992px) {
      body {
        padding-top: 56px;
      }
    }

    .w-95 {
      width: 95% !important;
    }
    .modal-dialog:not(.alert-modal) .modal-content {
      overflow: scroll;
    }
  </style>
  <title>traducir.win</title>

  <script async="async" id="mini-profiler" src="/lib/miniprofiler.js?v=4.0.138+gcc91adf599" data-version="4.0.138+gcc91adf599" data-path="/app/mini-profiler-resources/" data-ids="" data-position="BottomRight" data-authorized="true" data-max-traces="5" data-toggle-shortcut="Alt+P" data-trivial-milliseconds="2.0" data-ignored-duplicate-execute-types="Open,OpenAsync,Close,CloseAsync"></script>
  <script defer src="/lib/fontawesome.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>