@model Traducir.Web.ViewModels.Users.UsersListViewModel

@section Scripts
{
    <script>require(["users/user-edit"], users => { users.default(); });</script>
}

<div class="container">
    <div class="m-2 text-center">
        <h2>Users</h2>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>User</th>
                <th>Role</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <partial name="UserSummary" model="user" />
            }
        </tbody>
    </table>
</div>